<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.mapper.UserMapper">
    <sql id="userFields">
        id
        ,username,`password`,nickname,age,sex,phone,email,idcard,avatar,address,`status`,birthday,
        remark,created_by,created_time,updated_by,updated_time
    </sql>
    <sql id="getUserListQuery">
        <where>
            <if test="u.username !=null || u.username!=''">
                username LIKE CONCAT(#{u.username},'%')
            </if>
            <if test="u.nickname !=null || u.nickname!=''">
                or nickname LIKE CONCAT(#{u.nickname},'%')
            </if>
            <if test="u.email !=null || u.email!=''">
                or email LIKE CONCAT(#{u.email},'%')
            </if>
            <if test="u.address !=null || u.address!=''">
                or address LIKE CONCAT(#{u.address},'%')
            </if>
            <if test="u.sex !=null">
                and sex = #{u.sex}
            </if>
            <if test="u.age !=null">
                and age = #{u.age}
            </if>
            <if test="u.idCard !=null">
                or idcard = #{u.idCard}
            </if>
            <if test="u.phone !=null">
                or phone = #{u.phone}
            </if>
            <if test="u.startDate !=null and u.endDate !=null">
                or birthday &gt;= #{u.startDate} and birthday &lt;= #{u.endDate}
            </if>
        </where>
        limit #{u.page},#{u.limit}
    </sql>
    <select id="getUserList" parameterType="com.fly.domain.dto.UserDto"
            resultType="com.fly.domain.model.User">
        SELECT
        <include refid="userFields"/>
        FROM sys_user
        <include refid="getUserListQuery"/>
    </select>

    <select id="getUserListCount" parameterType="com.fly.domain.dto.UserDto"
            resultType="java.lang.Long">
        SELECT count(1)
        FROM sys_user
        <include refid="getUserListQuery"/>
    </select>
</mapper>